.list{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.list li{
  float: right;
  font-size: 13px;
}

.list li a{
  color: black;
  display: block;
  padding: 10px;
}

.list li a:hover{
  color: black;
}

.listli a span{
  color: crimson;
}

header{
  padding: 0px;
}
.left-row,.right-row{
  padding: 0px;
}

.cart{
  background-color: #DB8822;
}

.cart:hover,.sign:hover{
  background-color: #c57a1f;
  cursor: pointer;
}

.sign{
  background-color: #DB8822;
  width: 140px;
  font-size: 14px;
  position: relative;
  left: 20px;
  padding: 5px;
}

.second{
  background-color: black;
  padding: 30px;
}

.search{
  width: 70%;
  margin: auto;
}

.search2{
  margin-top: 10px;
  clear: both;
}

.logo{
  margin: auto;
}

.bar{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  
}

.bar li{
  float: left;
  
}

.bar li a {
  display: block;
  text-align: center;
  padding: 44px;
  padding-top: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.bar li a:hover{
  background-color: #c57a1f;
}
.bar2{
  margin: 0px;
  padding: 0px;
  background-color: #DB8822;
  overflow: hidden;
}
.xxt{
  background-color: black;
}

.xxt-span{
  color: #DB8822;
  font-weight: bold;
  margin: auto;
  text-align: center;
  font-size: 20px;
}

.prod{
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.prod .row a,.prod .row span{
  font-size: 12px;
}

.prod .row a:hover,.prod .row span:hover{
  text-decoration: none;
}
.prod .row a{
  font-size: 12px;
  color: #3863a3;
}

.circle{
  color: black;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  cursor: pointer;
  border: 1px black solid;
}

.footer{
  margin-top: 70px;
  margin-bottom: 40px;
  font-size: 13px;
}

.footer a{
  text-decoration: none;
  color: black;
  margin-right: 7px;
}

.footer ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.footer a:hover{
  text-decoration: underline;

}

.footer li{
  float: left;
}

.footer li::After{
  content: '|';
  margin-right: 7px;
}

.footer li::after(:last-child){
  content: '';
}